<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ronrytest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<filter>
		<filter-name>sessionFilter</filter-name>
		<filter-class>com.taobao.session.TaobaoSessionFilter</filter-class>
		<init-param>

		<!--日常=daily_new,性能=pref_new,预发和线上=online_new -->
		<param-name>tbsessionConfigGroup</param-name>
			<param-value>daily_new</param-value>
		</init-param>

		<!--开启签名校验 
		<init-param>
			<param-name>isloginSessionCheck</param-name>
			<param-value>true</param-value>
		</init-param>
		-->
		
		<init-param>
			<param-name>tairTimeout</param-name>
			<param-value>200</param-value>
		</init-param>

		<!--非taobao域应用同步session需要配置如下选项,包括tbpassSwitch,tbpassDomain,filterPage -->
		<init-param>
			<param-name>tbpassSwitch</param-name>
			<param-value>on</param-value>
		</init-param>
		<init-param>

			<!--如果是tmall域，日常=.daily.tmall.net,预发和线上=.tmall.com -->
			<param-name>tbpassDomain</param-name>
			<param-value>.tbsessiondemo.com</param-value>
		</init-param>

	</filter>

	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>*.tbpass</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sessionFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>HelloPerformanceServlet</servlet-name>
		<servlet-class>com.ronrytest.web.servlert.performance.HelloPerformanceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloPerformanceServlet</servlet-name>
		<url-pattern>/hello_performance.htm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CpuBusyServlet</servlet-name>
		<servlet-class>com.ronrytest.web.servlert.performance.CpuBusyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CpuBusyServlet</servlet-name>
		<url-pattern>/cpu_busy.htm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GWMockServlet</servlet-name>
		<servlet-class>com.ronrytest.web.servlert.performance.GWMockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GWMockServlet</servlet-name>
		<url-pattern>/gw_mock.htm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MemoryWasteServlet</servlet-name>
		<servlet-class>com.ronrytest.web.servlert.performance.MemoryWasteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemoryWasteServlet</servlet-name>
		<url-pattern>/mem_waste.htm</url-pattern>
	</servlet-mapping>

</web-app>